.footer
{
    text-align: center;
    padding-bottom: 3.125rem;
}



@media (min-width:768px)
{
    .footer 
    {
        padding-bottom: 2.68rem;
    }
}

@media (min-width: 1440px)
{
    .footer 
    {
        padding-bottom: 2.5rem;
    }
}