body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

p {
  color: #7B8BAD;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

.btn, .hero__btn, .header__btn {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.6875rem 0.84rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms;
}

@media (min-width: 768px) {
  .btn, .hero__btn, .header__btn {
    padding: 1rem 1.625rem;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6875rem 6.4% 4rem;
}
.header__logo {
  width: 40px;
  height: 40px;
}
.header__btn {
  background-color: #E8EFF2;
}
.header__btn:hover {
  background-color: #162542;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .header {
    padding: 2.5rem 5.2% 3.875rem;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 3.43rem 11.4% 5.18rem;
  }
}
.hero {
  padding-left: 6.4%;
  margin-bottom: 1.5rem;
}
.hero__content {
  padding-right: 6.4%;
  margin-bottom: 4rem;
  max-width: 445px;
}
.hero__title {
  font-size: 3rem;
}
.hero__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero__btn {
  background-color: #F16718;
  color: #FFFFFF;
}
.hero__btn:hover {
  background-color: #FF9B62;
}
.hero__release {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.hero__img-tablet, .hero__img-desktop {
  display: none;
}
.hero__img-mobile {
  display: block;
  height: 372px;
}

.img, .hero__img-tablet, .hero__img-desktop, .hero__img-mobile {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .hero {
    padding-left: 5.2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.3rem;
    margin-bottom: 2.5rem;
  }
  .hero__content {
    padding: 3.75rem 0;
  }
  .hero__img-mobile {
    display: none;
  }
  .hero__img-tablet {
    display: block;
    height: 480px;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 0 11.4%;
    gap: 7.8rem;
    position: relative;
    margin-bottom: 1.875rem;
  }
  .hero::after {
    content: "";
    width: 255px;
    height: 240px;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(50%);
    background-color: #E8EFF2;
    border-radius: 20px;
  }
  .hero__content {
    width: 40%;
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__img-tablet {
    display: none;
  }
  .hero__img-desktop {
    display: block;
    width: 48.6%;
    height: 480px;
  }
}
.section-2 {
  text-align: center;
  margin-bottom: 6.93rem;
}
.section-2__imgs {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4.6rem;
  padding-right: 6.4%;
}
.section-2__img-1 {
  width: 129px;
  height: 193px;
  background-image: url(../../assets/mobile/image-phone-and-keyboard.jpg);
  background-color: #F16718;
  background-blend-mode: multiply;
  border-radius: 15px;
  background-size: cover;
  margin-left: -2em;
}
.section-2__img-2-tablet, .section-2__img-2-desktop {
  display: none;
}
.section-2__img-2-mobile {
  height: 193px;
  border-radius: 15px;
  object-fit: cover;
  width: 62.5%;
}
.section-2__content {
  padding: 0 6.4%;
}
.section-2__title {
  font-size: 2rem;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.section-2__body {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .section-2 {
    padding: 0 5.2%;
    margin-bottom: 8.8rem;
  }
  .section-2__title {
    margin-left: 0;
    margin-right: 0;
  }
  .section-2__body {
    margin-left: 0;
    margin-right: 0;
  }
  .section-2__imgs {
    padding: 0;
    gap: 1.875rem;
    justify-content: space-between;
  }
  .section-2__img-1 {
    margin-left: 0;
    width: 31%;
    height: 320px;
    background-image: url(../../assets/tablet/image-phone-and-keyboard.jpg);
  }
  .section-2__img-2-tablet {
    display: block;
    width: 64%;
    height: 320px;
    border-radius: 15px;
    object-fit: cover;
  }
  .section-2__img-2-mobile {
    display: none;
  }
  .section-2__content {
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 5.3rem;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .section-2 {
    display: flex;
    align-items: center;
    padding: 0 11.4%;
    margin-bottom: 10.5rem;
    position: relative;
  }
  .section-2::before {
    content: "";
    width: 255px;
    height: 236px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translateX(-50%);
    background-color: #E8EFF2;
    border-radius: 15px;
  }
  .section-2__imgs {
    width: 65.7%;
    gap: 1.87rem;
    margin-bottom: 0;
  }
  .section-2__img-1 {
    height: 480px;
    width: 34.9%;
    background-image: url(../../assets/desktop/image-phone-and-keyboard.jpg);
  }
  .section-2__img-2-tablet {
    display: none;
  }
  .section-2__img-2-desktop {
    display: block;
    width: 60.9%;
    height: 480px;
    border-radius: 15px;
    object-fit: cover;
  }
  .section-2__content {
    display: block;
    width: 22.9%;
    margin-left: auto;
  }
}
.features {
  text-align: center;
  padding: 0 6.4%;
  margin-bottom: 6rem;
}
.features__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 339px));
  justify-content: center;
  gap: 4rem;
}
.features__icon-container {
  width: 65px;
  height: 65px;
  background-color: #F16718;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .features {
    padding: 0 5.2%;
    text-align: left;
  }
  .features__list {
    justify-content: start;
    row-gap: 4.5rem;
    column-gap: 0.6rem;
  }
  .features__icon-container {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .features {
    padding: 0 11.4%;
  }
  .features__list {
    column-gap: 1.875rem;
    grid-template-columns: repeat(auto-fit, minmax(auto, 255px));
    justify-content: space-between;
  }
}
.footer {
  text-align: center;
  padding-bottom: 3.125rem;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 2.68rem;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-bottom: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
